/* Commonly used mixins */
@media only screen and (min-width: 801px) {
  #container {
    margin: 0 auto;
    max-width: 1088px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 800px) {
  #portal-column-wrapper {
    margin-left: 212px;
  }
  #portal-column-one {
    width: 212px;
  }
  .focuss-wrapper {
    padding: 0px 25px;
  }
  #mobile-menu {
    display: block!important;
    float: right;
    visibility: visible;
  }
  #mobile-globalnav {
    color: #000000;
    border-bottom: 0;
    font-size: 16px;
    padding: 10px;
    background: transparent;
    cursor: pointer;
    border: 1px solid #000;
    margin-right: 15px;
    margin-top: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
  #mobile-globalnav .menu-bar {
    background-color: #ddd;
    display: block;
    height: 2px;
    width: 18px;
    margin-top: 3px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-box-shadow: 0px 1px 0px 0px #000000;
    -moz-box-shadow: 0px 1px 0px 0px #000000;
    box-shadow: 0px 1px 0px 0px #000000;
    -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength='0px', Direction=180, Color='#000000');
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength='0px', Direction=180, Color='#000000');
  }
  #mobile-globalnav .menu-bar:first-child {
    margin-top: 0;
  }
  #portal-globalnav {
    display: none;
    visibility: hidden;
    float: none;
    border: 0;
    margin: 0;
  }
  #portal-globalnav li,
  #portal-globalnav li a {
    display: block;
    font-size: 16px;
    padding: 0;
  }
  #portal-globalnav li a {
    padding: 10px 15px;
    border: 0;
    line-height: 30px;
  }
  #portal-globalnav li a:hover {
    background: transparent;
  }
  #portal-globalnav .selected a {
    background: transparent;
  }
  #portal-globalnav .selected a:hover {
    background: transparent;
  }
  #plone-contentmenu-display {
    float: none;
  }
  .visible {
    display: block!important;
    visibility: visible!important;
  }
  .logo-star {
    margin-top: -100px;
  }
  .tablet-right-down #portal-column-main {
    margin-right: 0;
  }
  .tablet-right-down #portal-column-wrapper {
    margin-right: 0;
  }
  .tablet-right-down #portal-column-one {
    padding-left: 0;
  }
  .tablet-right-down #portal-column-two {
    float: none!important;
    clear: both;
    margin-left: 0;
    width: 100%;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
  }
  .tablet-right-down #portal-column-two .portletWrapper {
    display: inline-block;
    /* Display inline-block, and absolutely NO FLOATS! */
  
    margin-bottom: 20px;
    width: 100%;
  }
  .tablet-right-down #portal-column-two .managePortletsLink {
    clear: both;
  }
  .tablet-left-down #portal-column-wrapper {
    margin-left: 0;
  }
  .tablet-left-down #portal-column-one {
    float: none!important;
    clear: both;
    margin-left: 0;
    width: 100%;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
  }
  .tablet-left-down #portal-column-one .portletWrapper {
    display: inline-block;
    /* Display inline-block, and absolutely NO FLOATS! */
  
    margin-bottom: 20px;
    width: 100%;
  }
  .tablet-left-down #portal-column-one .managePortletsLink {
    clear: both;
  }
  .sidebars-right .tablet-right-down #portal-column-wrapper {
    margin-left: 0;
    margin-right: 250px;
  }
  .sidebars-right .tablet-right-down #portal-column-main {
    margin-right: -250px;
  }
  .sidebars-right .tablet-left-down #portal-column-wrapper {
    margin-left: 0;
    margin-right: 262px;
  }
  .sidebars-right .tablet-left-down #portal-column-main {
    margin-right: -262px;
  }
  .sidebars-right .tablet-left-down #portal-column-one {
    margin-left: 0;
  }
  .sidebars-right .tablet-left-down #portal-column-two {
    margin-left: 12px;
  }
  .sidebars-right .no-right-column .tablet-left-down #portal-column-wrapper {
    margin-right: 0;
  }
  .sidebars-right .no-right-column .tablet-left-down #portal-column-main {
    margin-right: 0;
  }
  .sidebars-right .no-right-column .tablet-left-down #portal-column-one {
    margin-left: 0;
  }
  .sidebars-right .no-left-column .tablet-right-down #portal-column-wrapper {
    margin-right: 0;
  }
  .sidebars-right .no-left-column .tablet-right-down #portal-column-main {
    margin-right: 0;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 0px;
  }
  .focuss-wrapper h3 {
    font-size: 24px;
  }
  .home-cube {
    width: 40%;
  }
  .teamraum-box {
    width: 80%;
  }
  .gever h3 {
    font-size: 20px;
  }
  .gever-img {
    width: 50%;
  }
  .contact-options {
    display: none;
  }
  .github-img {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .mobile-hide {
    display: none !important;
  }
  body,
  #container {
    width: 100%;
  }
  #portal-column-main,
  #portal-column-one,
  #portal-column-two,
  .focuss-wrapper .row > div {
    display: block;
    float: none!important;
    position: relative;
    width: 100%;
  }
  #portal-column-main {
    margin-right: 0!important;
  }
  #portal-column-wrapper {
    margin-right: 0!important;
    margin-left: 0!important;
  }
  #portal-column-one {
    margin-left: 0!important;
    padding-left: 0!important;
  }
  #portal-column-two {
    margin-left: 0!important;
  }
  .focuss-wrapper .row > div {
    margin: 0!important;
    left: 0!important;
  }
  .focuss-wrapper {
    padding: 10px 25px;
  }
  .focuss-wrapper h2,
  .focuss-wrapper h3,
  .focuss-wrapper h4 {
    margin: 0;
  }
  .focuss-wrapper .image-right,
  .focuss-wrapper .image-left {
    float: none;
    margin: 0 auto;
  }
  .focuss-wrapper {
    padding: 5px 25px;
  }
  .home-cube {
    display: none!important;
  }
  .home-devices {
    width: 50%;
  }
  .home-sharepoint {
    width: 70%;
  }
  .gever h3 {
    font-size: 20px;
  }
  .gever-img {
    width: 50%;
  }
  .contact-options {
    display: none;
  }
  .best-list .best-item {
    float: left;
    width: 45%;
  }
  .management h3 {
    font-size: 24px;
  }
  #portal-personaltools {
    font-size: 12px !important;
    padding: 5px;
  }
  #portal-logo {
    margin-bottom: 1em;
  }
  #portal-breadcrumbs {
    margin-top: 10px;
  }
  .visible {
    display: block!important;
    visibility: visible!important;
  }
  #mobile-menu {
    display: block!important;
    float: right;
    visibility: visible;
  }
  #mobile-globalnav {
    color: #000000;
    border-bottom: 0;
    font-size: 16px;
    padding: 10px;
    background: transparent;
    cursor: pointer;
    border: 1px solid #000;
    margin-right: 15px;
    margin-top: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
  #mobile-globalnav .menu-bar {
    background-color: #ddd;
    display: block;
    height: 2px;
    width: 18px;
    margin-top: 3px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-box-shadow: 0px 1px 0px 0px #000000;
    -moz-box-shadow: 0px 1px 0px 0px #000000;
    box-shadow: 0px 1px 0px 0px #000000;
    -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength='0px', Direction=180, Color='#000000');
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength='0px', Direction=180, Color='#000000');
  }
  #mobile-globalnav .menu-bar:first-child {
    margin-top: 0;
  }
  #portal-globalnav {
    display: none;
    visibility: hidden;
    float: none;
    border: 0;
    margin: 0;
  }
  #portal-globalnav li,
  #portal-globalnav li a {
    display: block;
    font-size: 16px;
    padding: 0;
  }
  #portal-globalnav li a {
    padding: 10px 15px;
    border: 0;
    line-height: 30px;
  }
  #portal-globalnav li a:hover {
    background: transparent;
  }
  #portal-globalnav .selected a {
    background: transparent;
  }
  #portal-globalnav .selected a:hover {
    background: transparent;
  }
  #plone-contentmenu-display {
    float: none;
  }
  #mobile-search {
    color: #000000;
    border-bottom: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    font-size: 16px;
    padding: 10px;
    background: #dddddd;
    cursor: pointer;
    float: right;
    width: 50px;
  }
  #portal-searchbox {
    display: none;
    visibility: hidden;
    position: relative;
    float: none!important;
    font-size: 12px !important;
    margin: 1em auto;
    width: 80%;
  }
  #portal-searchbox input {
    font-size: 12px !important;
    margin-bottom: 7px;
  }
  #searchGadget {
    width: 70%;
  }
  #LSResult {
    margin: 0;
    position: relative;
  }
  #LSResult fieldset {
    overflow: hidden;
    width: 100%;
  }
  .LSRow,
  #LSNothingFound {
    width: 100%;
  }
  input.searchPage {
    font-size: 13px !important;
  }
  #mobile-page-settings {
    display: block!important;
    visibility: visible;
    cursor: pointer;
    color: #999999;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    margin: 10px 5px 0px;
    border: 1px dotted #dddddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
  #mobile-page-settings.selected {
    background: #eeeeee;
  }
  #edit-bar {
    display: none;
    visibility: hidden;
    background-color: transparent;
    border: 0;
    padding-bottom: 10px;
  }
  #content-views {
    float: none;
  }
  #content-views a {
    font-size: 100%;
    line-height: 2em !important;
    margin: 5px;
    padding: 5px 10px;
  }
  #content-views li.selected a,
  #content-views li a:hover {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
  #content li.formTab a {
    font-size: 16px;
    line-height: 2em !important;
    padding: 0.25em;
  }
  #contentActionMenus {
    float: none;
    top: auto;
    right: auto;
    margin: 20px 0 0;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
  }
  #contentActionMenus a {
    width: 100%;
    line-height: 2em !important;
    font-size: 13px;
    padding-top: 5px;
  }
  #contentActionMenus dl.actionMenu {
    float: none;
  }
  #contentActionMenus dl.actionMenu a,
  #contentActionMenus dl.actionMenu.activated dd {
    background-color: transparent;
    min-width: 0 !important;
    right: auto;
    position: relative;
    border: 0;
  }
  #contentActionMenus .actionMenuContent {
    background-color: #eeeeee !important;
  }
  input,
  textarea {
    font-size: 16px !important;
  }
  div.managePortletsLink,
  a.managePortletsFallback {
    font-size: 16px;
  }
  div.overlay {
    font-size: 16px;
  }
  .pb-ajax > div {
    width: 87%;
  }
  div.overlay-iframe,
  div.overlay-ajax {
    width: 80%;
  }
  #fieldset-openid-login label,
  #login-form label {
    text-align: center;
  }
  .home-cube {
    margin-bottom: -20px;
  }
  .home-devices,
  .home-sharepoint,
  .home-nuss {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .flex-control-nav {
    bottom: -30px;
  }
  .logo-star {
    display: none;
  }
  .logo-table {
    margin: 0 auto;
    width: 60%;
  }
  .logo-table .logo-cell {
    display: block;
    border-right: 0;
    line-height: 75px;
    width: 100%;
  }
  .logo-table .logo-cell:last-child {
    padding-bottom: 10px;
  }
  .portlet-static-kompetenzen {
    display: none;
  }
  #content-footer {
    text-align: center;
    line-height: 1.5;
  }
}
