// Styles that cannot be found in main.less goes here.

#content {
    padding: 10px;
}

#portal-personaltools-wrapper {
    .clearfix();
}

#portal-header {
    background: url("../images/header_bg.png") repeat-x scroll left top #000000;
    margin: 10px 13px;

    .rounded-corners(10px);
    .box-shadow(3px, 3px, 10px, 0px, #A9A9A9);
}

#portal-columns {
    background: #FFF;

    .rounded-corners(10px);
    .box-shadow(3px, 3px, 10px, 0px, #A9A9A9);
}

#portal-globalnav {
    float: right;
    border-left: 1px solid #A0B2BE;
    margin-right: 15px;
    text-transform: uppercase;

    a {
        letter-spacing: 0.04em;
        line-height: 50px;
    }
}

#content-footer {
    color: #205C90;
    font-size: @font-size-smallest;
    padding: 15px 30px 20px;
}

table.listing thead th {
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight: normal;

    .background-gradient(#F5F5F5, #F5F5F5, #E6E6E6);
}

table.listing tbody tr td,
table.listing tbody tr.odd td {
    text-shadow: 0 1px 0 #FFFFFF;
    color: #333;

    .background-gradient(#F6F6F6, #F9F9F9, #EDEDED);
}

// Hack to hide the home button from the menu
#portaltab-index_html {
    display: none;
}

// Hack the menu item padding for small screens
@media only screen and (min-width: 801px) and (max-width: 880px) {
    #portal-globalnav li a {
        padding: 0 7px;
    }
}


// FLEXSLIDER styling

.flexslider {
    background-color: #DBEDF9;

    .background-gradient-radial(#D4E8F6, #93BCD8);
    .rounded-corners(5px);
    .text-shadow(0, 1px, 0, rgba(255, 255, 255, 0.5));
}

#content .logo-flexslider li {
    margin-bottom: 0;
}
#content .flexslider ol {
    margin-left: 0;
}

.flexslider,
.logo-flexslider {
    ul {
        list-style-type: none !important;
        margin-left: 0 !important;
    }

    .flex-control-nav li {
        display: inline-block !important;
        margin: 0 6px !important;
    }
}

// Carousel page styling

.focuss-wrapper {
    font-size: 15px;
    padding: 15px;

    h3 {
        color: #004679;
        font-size: 27px;
        font-weight: 300;
        margin: 0.5em 0 0;
    }

    .image-right {
        float: right;
        margin: 0.5em;
    }
}

.callout {
    background: url("../images/quote_sm.png") no-repeat 0 1em transparent !important;
    border: 0 !important;
    color: #555555;
    font: 1.2em/1.5em Georgia,"Times New Roman",Times,serif;
    padding: 1em 8em 0 20px;
}


// LOGO TABLE

.logo-star {
    position: absolute;
    right: 0;
    margin-top: -87px;
}

.logo-table {
    border: 1px solid #DDDDDD;

    .background-gradient(#F6F6F6, #F9F9F9, #EDEDED);
    .rounded-corners(5px);

    .logo-cell {
        border-right: 1px solid #DDDDDD;
        display: inline-block;
        line-height: 150px;
        text-align: center;
        width: 19%;

        &:last-child {
            border-right: 0;
        }

        .logo-wrapper {
            padding: 0 10px;

            img {
                max-width: 100%;
            }
        }

    }
}
